// You can add global styles to this file, and also import other style files

$app-bg: #f0f0f0;

html,
body {
  height: 100%;
}

body {
  background: $app-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

footer {
  padding: .5rem 0 1rem;
  text-align: center;
}

header{
  position: fixed;
  top: 0;
   z-index: 11;
  transition: all 250ms ease-in-out;
}
.main-header{
  @extend header;
  &.hidden{
    opacity: 0;
  }
}
.search-block{
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  &.active{
    width: 100%;
  }
  .search-control{
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}
